name: Run Rust tests

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout submodule
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Run tests
        run: cargo test --verbose --workspace
